body{
background-color:#232323;
}
h1{
color:white;

text-align:center;
background:#232323;
}

.square{
	width:30%;
	background-color:purple;	
	padding-bottom:30%;
	float:left;
	margin:1.66%;
	
} 
#container{
	margin:0 auto;
	width:600px;
}
#stripes{
	background-color:white;
	height:30px;
	width:auto;
	text-align:center;
	color:black;	
}
.selected{
	background-color:blue;	
}
