body{
background-color:black;
}
h1{
color:white;
}
.square{
	width:30%;
	background-color:purple;	
	padding-bottom:30%;
	float:left;
	margin:1.66%;
	
} 
#container{
	margin:0 auto;
	width:600px;
}
span{
	color:white;
}
